html,
* {
    margin: 2px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    text-align: center;
}

.cardbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.card {
    height: 500px;
    width: 500px;
    border: 2px solid black;
}

.title {
    font-size: 70px;
}