html,
* {
    margin: 2px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    text-align: center;
}

.cardbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;

}

.card {
    height: 500px;
    width: 500px;
    border: 2px solid black;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 70px;
}

.button{
    height: 50px;
    width: 100px;
}

.img{
    height: 50%;
    width: auto;
    object-fit: contain;

}